<header>
  <div class="container">
      <div class="nav-left">
          <nav>
              <ul>
                  <li><a href="#home" class="nav-link active">Chop</a></li>
              </ul>
          </nav>
      </div>
      
      <div class="nav-center">
          <nav>
              <ul>
                <li><a href="#projects" class="nav-link">Projects</a></li>
              </ul>
          </nav>
      </div>
      
      <div class="nav-right">
          <nav>
              <ul>
                  <li><a href="#about" class="nav-link">Research</a></li>
              </ul>
          </nav>
      </div>
  </div>
</header>